@font-face {
    font-family: MyriadPro-Regular;
    src: url('/public/hoangha/general/fonts/MyriadPro-Regular.eot?');
    src: url('/public/hoangha/general/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('/public/hoangha/general/fonts/MyriadPro-Regular.woff2') format('woff2'), url('/public/hoangha/general/fonts/MyriadPro-Regular.woff') format('woff'), url('/public/hoangha/general/fonts/MyriadPro-Regular.ttf') format('truetype'), url('/public/hoangha/general/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

.activemenu {
    color: #FAC31D !important;
}

body {
    margin: 0;
    font-family: MyriadPro-Regular;
}

.clear {
    clear: both;
    display: table;
    content: "";
}

.content-left {
    width: 50%;
    float: left;
    position: relative;
}

.content-right {
    width: 49%;
    float: right;
    position: relative;
}

div.content {
    margin: 0 auto;
}

.content_product {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.content .tabs-section .tabs ul {
    list-style-type: none;
    text-align: center;
}

.tabs {
    max-width: 1349px;
    overflow: hidden;
    margin: 0 auto;
}

.content .tabs-section .tabs li {
    display: inline-block;
}

.content .tabs-section .tabs li a {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.content .tabs-section .tabs li a:hover {
    color: #ffc20e;
}

.content .tabs-section .duan {
    text-align: center;
    padding: 50px 0;
}

.detail_slideshow {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 3%;
    display: block;
    text-align: center;
}

.detail_slideshow .item {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.detail_slideshow .owl-dots {
    position: absolute;
    bottom: 4%;
    left: 45%;
}

div.duan .hinhanh .text h3 {
    font-size: 10px;
}

div.hinhanh {
    width: 24.3%;
}

div.content .duan .hinhanh .image {
    display: block;
    max-width: 331px;
    max-height: 262px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
}

.detail_slideshow .item img {
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 576px;
}

.content .duan .hinhanh {
    padding-right: 1px;
    padding-top: 2px;
    float: left;
    position: relative;
}

.content .duan .hinhanh .image {
    display: block;
    width: 100%;
}

.content .duan .hinhanh .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.content .duan .hinhanh:hover .overlay {
    height: 20%;
    width: 100%;
}

.duan .hinhanh .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.duan .hinhanh .text a {
    text-decoration: none;
}

.duan .hinhanh .text p {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #b8b6b5;
}

.tabs-section {
    margin: 1.5% auto;
}

.content .duan {
    margin-bottom: 4%;
    overflow: hidden;
}

article {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    overflow: hidden;
    max-width: 1349px;
    font-family: Arial, Tahoma;
    font-size: 15px;
}

.infomation_product table td {
    padding: 10px;
    vertical-align: middle;
    font-family: MyriadPro-Regular, Arial, Tahoma;
    font-size: 14px;
    border: 1px solid #ccc;
}

.infomation_product table tr:first-child td {
    background-color: #f5f5f5;
    text-align: center;
}

.infomation_product table td strong {
    font-size: 16px;
    color: #818386;
    font-family: myriadbold, Arial, Tahoma;
}

.infomation_product table {
    margin-bottom: 3%;
    width: 100%;
    max-width: 100%;
    font-family: MyriadPro-Regular, Arial, Tahoma;
    font-size: 15px;
    border-collapse: collapse;
}

.infomation_product p {
    font-family: MyriadPro-Regular, Arial, Tahoma;
    font-size: 15px;
    line-height: 28px;
}

@media only screen and (max-width: 800px) {
    article {
        width: 90%;
    }
    .infomation_product table {
        width: 100%;
    }
    .detail_slideshow {
        width: 90%;
    }
    .detail_slideshow .item img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 415px) {
    .content .duan .hinhanh {
        width: 98%;
    }
    .infomation_product table {
        table-layout: fixed;
    }
    .detail_slideshow .owl-dots {
        left: 38%;
    }
}

.click-here {
    cursor: pointer;
    background-image: linear-gradient(190deg, #f83600 0%, #fee140 100%);
    color: #fff;
    width: 180px;
    text-align: center;
    font-size: 16px;
    padding: 18px 0;
    margin: 0 auto;
    transition: background-image 3s ease-in-out;
}

.Click-here:hover {
    transition: background-image 3s ease-in-out;
    background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%);
}

.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.close-btn {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
}

@media screen and (min-width:800px) {
    .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }
}

.gr-contact {
    margin-bottom: 32px;
}

.gr-contact .box-btn {
    display: flex;
    gap: 20px;
}

.gr-contact a:first-child {
    display: flex;
    width: auto;
    height: auto;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    background: #e4ac06;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-decoration: none;
}

.gr-contact a:last-child {
    border-radius: 6px;
    background: #FFF;
    display: flex;
    width: auto;
    height: auto;
    padding: 10px 20px;
    line-height: 23px;
    align-items: center;
    border-radius: 6px;
    font-weight: 700;
    color: #848688;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
    text-decoration: none;
    font-size: 17px;
}

.gr-contact a:last-child span img {
    filter: brightness(0.6);
    display: inline-block;
    vertical-align: middle;
}

#popup-contact .form-bao-gia {
    background: #fff;
    max-width: 550px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 21px;
}

.form-bao-gia .gr-input {
    margin-bottom: 15px;
}

.gr-input input {
    width: 96%;
    height: 45px;
}

.vuta-input {
    display: block;
    padding: .375rem .75rem;
    padding-left: 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: opensan, Arial, Tahoma;
}

.form-bao-gia textarea {
    min-height: 100px;
    width: 96%;
    font-family: opensan, Arial, Tahoma;
}

.form-bao-gia .box-btn button {
    background: #e4ac06;
    border-radius: 6px;
    padding: 19px 27px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: none;
}

@media screen and (max-width:799px) {
    .custom-model-inner {
        margin-top: 45px;
    }
    .gr-contact {
        margin: 0 auto;
        max-width: 92%;
        margin-bottom: 32px;
    }
    .gr-contact a:first-child {
        padding: 10px 15px;
    }
    .gr-contact a:last-child {
        padding: 10px;
    }
    .gr-contact .box-btn {
        justify-content: center;
    }
}