@font-face {
	font-family:MyriadPro-Regular;
	src:url('/public/hoangha/general/fonts/MyriadPro-Regular.eot?');
  	src:url('/public/hoangha/general/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('/public/hoangha/general/fonts/MyriadPro-Regular.woff2') format('woff2'),
      url('/public/hoangha/general/fonts/MyriadPro-Regular.woff') format('woff'),
      url('/public/hoangha/general/fonts/MyriadPro-Regular.ttf') format('truetype'),
      url('/public/hoangha/general/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}
.activemenu {
    color: #FAC31D !important;
}
body{
	margin:0;
	font-family:MyriadPro-Regular;
}
.clear{
	clear: both;
	display: table;
	content: "";
}
.content-left{
	width: 50%;
	float: left;
	position: relative;
}
.content-right{
	width: 49%;
	float: right;
	position: relative;
}
.content
{
	margin: 0 auto;
}
.content .tabs-section .tabs ul{
	list-style-type: none;
	text-align: center;
}
.tabs
{
	max-width: 1349px;
	overflow: hidden;
	margin: 0 auto;
}
.content .tabs-section .tabs li{
	display: inline-block;
}
.content .tabs-section .tabs li a{
	text-decoration: none;
	color: #4e4e4e;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	display: block;
	padding: 10px 20px;
	border: 1px solid #fff;
}
.content .tabs-section .tabs li a:hover{
	color: #ffc20e;
}
.content .tabs-section .duan{
	text-align: center;
	padding:50px 0;
}
.detail_slideshow
{
	width: 100%;
	
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 3%;
	display: block;
	text-align: center;
}
.detail_slideshow .item
{
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.detail_slideshow .owl-dots {
    position: absolute;
    bottom: 4%;
    left: 45%;
}
.detail_slideshow .item img
{
	margin: 0 auto;
	display: block;
	text-align: center;
	
	height: 457px;
}
.content .duan .hinhanh{
	padding-right:1px;
	padding-top: 2px;
	float: left;
	position: relative;
	width:23.6%;
}
.content .duan .hinhanh .image{
	display: block;
	height: 159px;
	width: 100%;
}
.content .duan .hinhanh .overlay{
	position: absolute;
	bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.content .duan .hinhanh:hover .overlay{
	height: 20%;
	width: 100%;
}

.duan .hinhanh .text{
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.duan .hinhanh .text a{
	text-decoration: none;

}
.duan .hinhanh .text p{
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 20px;
	color: #b8b6b5;
}
.tabs-section
{
	margin: 1.5% auto;
}
.content .duan
{
	margin-bottom: 4%;
	overflow: hidden;
}
article
{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 5%;
	overflow: hidden;
	max-width: 1349px;
	font-family: Arial, Tahoma;
	font-size: 15px;
}
.infomation_product table td
{
	padding: 10px;
	vertical-align: middle;
	font-family: Arial, Tahoma;
	font-size: 15px;
}
.infomation_product table
{
	margin-bottom: 3%;
	width: 100%;
	max-width: 100%;
	font-family: Arial, Tahoma;
	font-size: 14px;
	border:1px solid #ccc;
}
@media only screen and (max-width: 800px)
{
	article
	{
		width: 90%;
	}
	.infomation_product table
	{
		width: 100%;
	}
	.detail_slideshow
	{
		width: 90%;
	}
	.detail_slideshow .item img
	{
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 415px)
{
	.content .duan .hinhanh {
	    width: 98% ;
	}
	.infomation_product table
	{
		table-layout: fixed;
	}
	.detail_slideshow .owl-dots
	{
	    left: 38%;
	}
}